body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
#map {
  max-height: 90vh;
}
#main {
  text-align: center;
}
.table_button {
  position: relative;
}
